/* GENERAL SETTINGS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #eee;
  height: auto;
  font-family: "Syne", sans-serif;
  /* font-size: 1.6rem;
  line-height: 1.6; */
  color: #003b4a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h3 {
  font-weight: 700;
  line-height: 1;
}

h1 {
  font-size: 6rem;
}

h2 {
  text-transform: uppercase;
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

p,
li {
  font-size: 1.8rem;
}

/* a {
  color: #f69333;
} */

a:hover,
a:focus {
  color: rgb(96, 112, 116);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0 1em;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3em;
  background: #a63429;
  text-align: center;
}

li {
  list-style: none;
}

/* MAIN CONTENT */

img {
  max-width: 100%;
}

main {
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1), 0 0 0.5em rgba(0, 0, 0, 0.1);
}

.banner {
  height: auto;
  background: #e74c3c;
  display: flex;
  flex: 0 1 40vw;
  height: 40vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;

  background: url("/images/ballon_grosPlan.jpg") no-repeat center center;
  background-size: cover;
}

/* .overlay {
  max-width: 1200px;
  margin: 0;
  padding: 0;
  height: 20vh;
  background: rgba(0, 0, 0, 0.5);
} */

.first-section {
  padding-left: 1rem;
  padding-right: 1rem;
}
.page-title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.img-one img {
  border-radius: 5px;
}
.img-two img {
  border-radius: 5px;
}

.text-one {
  font-size: 1.6rem;
  padding: 1rem 0;
}

.text-two {
  font-size: 1.6rem;
  padding: 1rem 0;
}

.bottom-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
}

.btn {
  display: block;
  padding: 0.5em 1em;
  /* background: #e74c3c; */
  color: #fff;
  border: none;
  border-radius: 0.5em;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  width: 100%;
  text-align: center;
  cursor: pointer;
  height: 4rem;
}

.btn:hover {
  background: #f69333;
}

.btn-left {
  background: #a63429;
}

.btn-right {
  background: #243b40;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background: #748c8a;
}

footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3em;
  background: #243b40;
  text-align: center;
  color: #fff;
}

/* MEDIA QUERY */

@media (min-width: 500px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "banner banner banner"
      "page-title page-title page-title"
      "first-section first-section side-content"
      "footer footer footer";
    padding-bottom: 30px;
  }

  .banner {
    grid-area: banner;
    color: #ffffff;
    text-align: center;
  }

  .first-section {
    grid-area: first-section;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "img-one img-one "
      "text-one text-one "
      "text-two img-two "
      "bottom-btn bottom-btn ";
  }

  .img-one {
    grid-area: img-one;
  }
  .text-one {
    grid-area: text-one;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .text-two {
    grid-area: text-two;
    padding-right: 1rem;
  }
  .img-two {
    grid-area: img-two;
    padding-top: 1rem;
  }
  .bottom-btn {
    grid-area: bottom-btn;
  }

  .page-title {
    grid-area: page-title;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .side-content {
    grid-area: side-content;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  aside {
    padding: 0;
  }

  .side-col {
    /* border: #fff 1px solid; */
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    width: 30vw;
    height: 20vh;
  }
  .footer {
    grid-area: footer;
  }

  .bottom-btn {
    flex-direction: row;
    gap: 1rem;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
  }
  .btn {
    width: 50%;
    height: 6rem;
    font-size: 2rem;
  }

  /* .btn-left {
    background: #e74c3c;
  }
  .btn-right {
    background: #000000;
  } */

  footer {
    padding: 3em;
    color: #eee;
  }
}
